version: '3.1'

services:
  db:
    image: postgres:16
    container_name: postgres-test
    restart: always
    tty: true
    ports:
      - '5432:5432'
    volumes:
      - .docker/dbdata:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=docker
      - POSTGRES_DB=postgrestest

  redis:
    image: redis:latest
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
